<link rel="stylesheet" type="text/css" href="style.css"/>
<body>
    <form>      
        <input class="red-input" placeholder="Введите название организации">    
        <button class="search-button"></button>  
    </form>
    <div class="cards">
            <div class="card">
                <img  src="icons/Avatar.svg">
                <div class="card-body">
                    <h5>kts-school-frontend</h5>
                    <h6>ktsstudio</h6>
                    <p class="info">
                        <img src="icons/Frame.svg">
                        <span >123</span>
                        <span>Updated 21 Jul</span>
                    </p>
                </div>
            </div>
            <div class="card">
                <img  src="icons/Avatar.svg">
                <div class="card-body">
                    <h5>kts-school-frontend</h5>
                    <h6>ktsstudio</h6>
                    <p class="info">
                        <img src="icons/Frame.svg">
                        <span >123</span>
                        <span>Updated 21 Jul</span>
                    </p>
                </div>
            </div>
            <div class="card">
                <img  src="icons/Avatar.svg">
                <div class="card-body">
                    <h5>kts-school-frontend</h5>
                    <h6>ktsstudio</h6>
                    <p class="info">
                        <img src="icons/Frame.svg">
                        <span >123</span>
                        <span>Updated 21 Jul</span>
                    </p>
                </div>
            </div>
            <div class="card">
                <img  src="icons/Avatar.svg">
                <div class="card-body">
                    <h5>kts-school-frontend</h5>
                    <h6>ktsstudio</h6>
                    <p class="info">
                        <img src="icons/Frame.svg">
                        <span >123</span>
                        <span>Updated 21 Jul</span>
                    </p>
                </div>
            </div>
    </div>
</body>